@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,italic,700italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Rubik";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body,
html {
  background-color: #F6F7F9;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

.page {
  padding-top: 120px;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.75rem;
  margin: 0 auto;
  padding: 0 0.625rem;
}

.form__textarea {
  min-height: 105px !important;
  height: 105px;
  resize: vertical;
}

.form__line-options .options__item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
}

.form__line-options .options__item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.form__line-options .options__item .options__input:checked + .options__label .options__text span {
  font-weight: 500;
}

.form__line-options .options__item .options__label {
  border: none;
  padding: 0 0 0 40px;
}

.form__line-options .options__item .options__label::before,
.form__line-options .options__item .options__label::after {
  content: "";
  left: 0;
  top: 0;
}

.form__line-options .options__item .options__label::before {
  content: "";
  background: url("../img/icons/radio.svg") 0 0/contain no-repeat;
  width: 25px;
  height: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
}

.form__line-options .options__item .options__label::after {
  content: "";
  background: url("../img/icons/radio-active.svg") 0 0/contain no-repeat;
}

.form__line-options .options__item .options__text span {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 175%;
  color: #000000;
}

.form__line-options .options__item .options__text p {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 175%;
  color: #BBBBBB;
}

.form__line .button {
  padding: 14px 36px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #000000;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 175%;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  transition: all 0.3s;
  border: 2px solid transparent;
}

.form__line .button:hover {
  border-color: #000;
  color: #000;
  background-color: transparent;
}

.form__line .button:active {
  background-color: rgba(0, 0, 0, 0.12);
}

.form__line.line-bg {
  background-color: #EEEEEE;
  border-radius: 6px;
  padding: 0.875rem 0.75rem;
}

.form label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 175%;
  color: #000000;
  display: block;
}

.form__input {
  padding: 0.875rem 0.75rem;
  min-height: 53px;
  background: #EEEEEE;
  border-radius: 6px;
  width: 100%;
  outline: none;
}

.form .select {
  min-width: 0;
  position: relative;
}

.form .select__body {
  position: relative;
}

.form .select__title {
  color: inherit;
  text-align: left;
  cursor: pointer;
  width: 100%;
  background: #EEEEEE;
  border-radius: 6px;
}

._select-open .form .select__title {
  border-radius: 6px 6px 0 0;
}

.form .select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3.5rem;
  padding: 0.625rem 0.9375rem;
  gap: 0.625rem;
}

.form .select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form .select__value:after {
  content: "";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px;
  width: 12px;
  height: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/icons/CaretDown.svg") 0 0 no-repeat;
}

._select-open .form .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.form .select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.form .select__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form .select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form .select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.form .select__options {
  color: #000;
  position: absolute;
  top: calc(100% - 0.0625rem);
  border-radius: 0 0 6px 6px;
  min-width: 100%;
  left: 0;
  background-color: #eee;
  border-top: 0;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.form .select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}

.form .select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.form .select__option._select-selected {
  background-color: #eee;
}

.form .select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form .select_show-top .select__options {
  top: auto;
  bottom: calc(100% - 0.0625rem);
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  padding: 5px 0px 10px 0px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.options__input:focus-visible + .options__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.options__input:checked + .options__label {
  border-color: #000;
}

.options__input:checked + .options__label:before {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.options__input:checked + .options__label:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  gap: 10px;
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 46px 16px 16px 16px;
}

.options__label::before,
.options__label::after {
  content: "";
  position: absolute;
  left: 16px;
  top: 16px;
}

.options__label:before {
  content: "";
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  background: url("../img/about-book/checkbox.svg") 0 0 no-repeat;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.options__label:after {
  content: "";
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  background: url("../img/about-book/checkbox-active.svg") 0 0 no-repeat;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.options__text .price {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 120%;
  color: #000000;
}

.options__text .text {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 175%;
  color: #000000;
  opacity: 0.84;
}

.options__text .subtext {
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 175%;
  color: #000000;
  opacity: 0.36;
}

.quantity {
  width: 115px;
  height: 45px;
  background: #EEEEEE;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.quantity__button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

.quantity__button:hover {
  background-color: gainsboro;
}

.quantity__button_plus {
  border-radius: 0 6px 6px 0;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__button_minus {
  border-radius: 6px 0 0 6px;
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 175%;
  color: #000000;
  background-color: #EEEEEE;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 60px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup__close {
  position: fixed;
  right: 20px;
  top: 20px;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup-s .popup__content {
  max-width: 320px;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #fff;
  width: 100%;
  max-width: 600px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__form .form__line {
  margin-bottom: 30px;
}

.popup__form .form__line:last-child {
  margin-bottom: 0;
}

.popup__header {
  margin-bottom: 30px;
}

.popup__header-top {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popup__header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__header-left .preview {
  margin-right: 12px;
}

.popup__header-left .preview img {
  width: 50px;
  height: 60px;
}

.popup__header-left .info p {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 135%;
  color: #000000;
}

.popup__header-left .info span {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 135%;
  color: #000000;
}

.popup__header-bottom .total {
  text-align: right;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 135%;
  color: #000000;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-h2 {
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.025em;
  color: #000000;
  margin-bottom: 3.75rem;
  position: relative;
  z-index: 1;
}

.title-h2 span {
  position: relative;
  padding: 0rem 0.625rem 0 0.9375rem;
  margin-right: -0.625rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-webp .title-h2 span::before{
  background: url("../img/icons/Union.png") 0 0/100% 100% no-repeat; }

.title-h2 span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: -1;
}

.section-padding {
  padding: 120px 0;
}

.section-white {
  background-color: #fff;
}

.header {
  padding: 12px;
  min-height: 59px;
  background-color: #C6C5BF;
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 4;
  right: 0;
}

.header._header-scroll {
  position: fixed;
  top: -200%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header._header-show {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 0;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 210px;
          flex: 0 1 210px;
}

.header__logo span {
  font-weight: 500;
  font-size: 1rem;
  line-height: 135%;
  color: #000000;
  display: inline-block;
  margin-left: 12px;
}

.header__menu .menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.header__menu .menu__link {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 175%;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__menu .menu__link._navigator-active {
  color: #000;
  border-bottom-color: transparent;
}

.header__menu .menu__link._navigator-active:hover {
  border-bottom-color: transparent;
}

.header__menu .menu__link:hover {
  color: #000;
  border-bottom-color: #000;
}

.header__actions {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 210px;
          flex: 0 1 210px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__actions .header-link {
  padding: 4px 18px 3px;
  background-color: #000000;
  border-radius: 26px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 175%;
  color: #FFFFFF;
  text-align: center;
  min-height: 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__actions .header-link:hover {
  border-color: #000;
  background-color: transparent;
  color: #000;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 60px 0;
  background-color: #000000;
  color: #fff;
}

.footer__info {
  font-style: italic;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 175%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 1.875rem;
}

.footer__editor span {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 175%;
  color: #FFFFFF;
  display: inline-block;
  margin-right: 10px;
}

.about-book__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.about-book__left {
  position: relative;
}

.about-book__image {
  position: relative;
}

.about-book__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.about-book__link a {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 175%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  padding: 12px 36px;
  background-color: rgba(210, 210, 210, 0.6);
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5.625rem;
}

.about-book__link a:hover {
  -webkit-transform: translate(-50%, -5px);
      -ms-transform: translate(-50%, -5px);
          transform: translate(-50%, -5px);
  -webkit-box-shadow: 0px 18px 32px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 18px 32px 10px rgba(0, 0, 0, 0.12);
}

.about-book .about-book__info .book-info__title {
  font-weight: 500;
  line-height: 135%;
  color: #000000;
}

.about-book .about-book__info .book-info__desc {
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
  color: #000000;
}

.about-book .about-book__info .book-info__payments {
  padding: 24px;
  background-color: #FFFFFF;
  border-radius: 6px;
  margin-top: 45px;
}

.about-book .about-book__info .book-info__options {
  gap: 5px;
  margin-bottom: 24px;
}

.about-book .about-book__info .book-info__options .options__item .options__label {
  min-width: 160px;
}

.about-book .about-book__info .book-info__link {
  margin-bottom: 24px;
}

.about-book .about-book__info .book-info__link a {
  padding: 14px 36px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #000000;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 175%;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  transition: all 0.3s;
  border: 2px solid transparent;
}

.about-book .about-book__info .book-info__link a:hover {
  border-color: #000;
  color: #000;
  background-color: transparent;
}

.about-book .about-book__info .book-info__link a:active {
  background-color: rgba(0, 0, 0, 0.12);
}

.about-book .about-book__info .book-info__donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.about-book .about-book__info .book-info__donate p {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 150%;
  color: #000000;
}

.book-description__text {
  font-style: italic;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 175%;
  color: #000000;
}

.book-description__text p:last-child {
  margin-bottom: 0;
}

.book-description__info {
  font-style: italic;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 175%;
  color: #000000;
}

.book-description-showmore {
  max-width: 740px;
  margin: 0 auto;
}

.book-description-showmore__content {
  position: relative;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

._showmore-active .book-description-showmore__content {
  text-shadow: none;
}

._showmore-active .book-description-showmore__content::before {
  content: "";
  opacity: 0;
}

.book-description-showmore__content::before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.book-description-showmore__more span {
  border-bottom: 2px dashed #000000;
  font-weight: 500;
  font-size: 1rem;
  line-height: 175%;
  color: #000000;
}

.book-description-showmore__more span:last-child {
  display: none;
}

._showmore-active .book-description-showmore__more span {
  display: none;
}

._showmore-active .book-description-showmore__more span:last-child {
  display: block;
}

.quotes-book__column .quotes-book__quote {
  margin-bottom: 60px;
}

.quotes-book__column .quotes-book__quote:last-child {
  margin-bottom: 0;
}

.quotes-book__quote {
  font-style: italic;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 175%;
  color: #000000;
  position: relative;
}

.about-more__content {
  position: relative;
}

._showmore-active .about-more__content {
  text-shadow: none;
}

._showmore-active .about-more__content::before {
  content: "";
  opacity: 0;
}

.about-more__more span {
  border-bottom: 2px dashed #000000;
  font-weight: 500;
  font-size: 1rem;
  line-height: 175%;
  color: #000000;
}

.about-more__more span:last-child {
  display: none;
}

._showmore-active .about-more__more span {
  display: none;
}

._showmore-active .about-more__more span:last-child {
  display: block;
}

.about__image img {
  max-width: 380px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.about__info p {
  font-style: italic;
  font-size: 1.25rem;
  line-height: 175%;
  color: #000000;
  margin-bottom: 40px;
}

.about__title {
  margin-bottom: 25px;
}

.about__socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__socials ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px 25px;
}

.about__socials ul li a svg path {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.about__socials ul li a:hover svg path {
  stroke: #8d83fc;
}

.about__socials span {
  font-style: italic;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 175%;
  color: #000000;
  display: inline-block;
  margin-left: 25px;
}

.heros__slider {
  width: calc(100vw - (100vw - 1160px) / 2) !important;
}

.heros__slide {
  max-width: 245px;
}

.heros__slide .slide-hero__body h5 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 155%;
  color: #000000;
}

.heros__slide .slide-hero__image {
  margin-bottom: 12px;
}

.heros__slide .slide-hero__image img {
  max-width: 245px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.heros__slide .hero-info._showmore-active .hero-info__content::before {
  opacity: 0;
}

.heros__slide .hero-info._showmore-active .hero-info__more {
  margin-top: 10px;
}

.heros__slide .hero-info._showmore-active .hero-info__more span {
  display: none;
}

.heros__slide .hero-info._showmore-active .hero-info__more span:last-child {
  display: block;
}

.heros__slide .hero-info__content {
  position: relative;
}

.heros__slide .hero-info__content p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 155%;
}

._showmore-active .heros__slide .hero-info__content {
  text-shadow: none;
}

._showmore-active .heros__slide .hero-info__content::before {
  content: "";
  opacity: 0;
}

.heros__slide .hero-info__content::before {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#F6F7F9), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, #F6F7F9 0%, rgba(255, 255, 255, 0) 100%);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

._showmore-active .heros__slide .hero-info__more {
  margin-top: 15px;
}

.heros__slide .hero-info__more span {
  border-bottom: 2px dashed #000000;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 155%;
  color: #000000;
}

.heros__slide .hero-info__more span:last-child {
  display: none;
}

._showmore-active .heros__slide .hero-info__more span {
  display: none;
}

._showmore-active .heros__slide .hero-info__more span:last-child {
  display: block;
}

.demo-pages__slider {
  -webkit-filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.12));
}

.demo-pages__slider .swiper-button-prev {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 40px;
  height: 80px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(238, 238, 238, 0.8);
  border-radius: 0 6px 6px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.demo-pages__slider .swiper-button-prev svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.demo-pages__slider .swiper-button-prev svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.demo-pages__slider .swiper-button-prev:hover {
  background-color: #eee;
}

.demo-pages__slider .swiper-button-prev:hover svg {
  -webkit-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
          transform: translateX(-5px);
}

.demo-pages__slider .swiper-button-prev.swiper-button-disabled {
  display: none;
}

.demo-pages__slider .swiper-button-next {
  position: absolute;
  right: 0px;
  top: 50%;
  width: 40px;
  height: 80px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(238, 238, 238, 0.8);
  border-radius: 6px 0 0 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.demo-pages__slider .swiper-button-next svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.demo-pages__slider .swiper-button-next svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.demo-pages__slider .swiper-button-next:hover {
  background-color: #eee;
}

.demo-pages__slider .swiper-button-next:hover svg {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

.demo-pages__slider .swiper-button-next.swiper-button-disabled {
  display: none;
}

.demo-pages__slider-thumbs {
  max-width: 840px;
}

.demo-pages__slider-thumbs .demo-pages__slide {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid transparent;
  cursor: pointer;
}

.demo-pages__slider-thumbs .demo-pages__slide.swiper-slide-thumb-active {
  border-color: #000;
}

.demo-pages__slider-thumbs .demo-pages__slide:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.demo-pages__slide .slide__image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .footer__editor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-book__link a {
    min-width: 265px;
  }

  .quotes-book__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .quotes-book__slider {
    display: none;
  }

  .quotes-book__quote {
    padding-left: 50px;
  }

  .quotes-book__quote::before {
    content: "";
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 36px;
    height: 36px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36px;
            flex: 0 0 36px;
    position: absolute;
    left: 0;
    background: url("../img/icons/Quotes.svg") 0 0 no-repeat;
  }

  .sticky-cart-mob {
    display: none;
  }
}

@media (min-width: 29.99875em) and (min-width: 73.75em) {
  .quotes-book__list {
    gap: 5.625rem;
  }
}

@media (min-width: 47.99875em) {
  .popup__content {
    padding: 3rem 1.875rem;
  }

  .header__menu .menu__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 420px;
            flex: 0 1 420px;
  }

  .about-book__image img {
    max-width: 100%;
  }

  .about-book .about-book__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 700px;
            flex: 0 1 700px;
    margin-right: 40px;
  }

  .about-book .about-book__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 370px;
            flex: 0 1 370px;
  }

  .about-book .about-book__info .book-info__title {
    margin-bottom: 10px;
  }

  .about-book .about-book__info .book-info__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .book-description__text {
    margin-bottom: 60px;
  }

  .book-description__text p {
    margin-bottom: 35px;
  }

  .book-description-showmore__more {
    margin-top: 15px;
  }

  .about-more__more {
    margin-top: 15px;
  }

  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 380px;
            flex: 0 1 380px;
    margin-right: 60px;
  }

  .about__title {
    text-align: left;
  }

  .demo-pages__slider-thumbs {
    margin: 25px auto 0 auto;
  }
}

@media (min-width: 61.99875em) {
  .about-book__content {
    padding-bottom: 120px;
  }
}

@media (min-width: 73.75em) {
  .title-h2 {
    font-size: 3.375rem;
  }

  .about-book .about-book__info .book-info__title {
    font-size: 3rem;
  }
}

@media (max-width: 20em) {
  .title-h2 {
    font-size: 3rem;
  }

  .about-book .about-book__info .book-info__title {
    font-size: 2rem;
  }
}

@media (max-width: 61.99875em) {
  .section-padding {
    padding: 100px 0;
  }

  .header__actions {
    display: none;
  }

  .about-book__content {
    padding-bottom: 100px;
  }
}

@media (max-width: 47.99875em) {
  .popup__close {
    position: absolute;
  }

  .popup__content {
    padding: 1.5rem 0.625rem;
  }

  .section-padding {
    padding: 90px 0;
  }

  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__logo {
    display: none;
  }

  .header__menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-book__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-book__content {
    padding-bottom: 90px;
  }

  .about-book__image {
    text-align: center;
  }

  .about-book__image img {
    max-width: 85%;
  }

  .about-book__link a {
    bottom: 2rem;
  }

  .about-book .about-book__left {
    margin-bottom: 45px;
  }

  .about-book .about-book__info .book-info__title {
    margin-bottom: 45px;
    text-align: center;
  }

  .about-book .about-book__info .book-info__title br {
    display: none;
  }

  .about-book .about-book__info .book-info__options {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .about-book .about-book__info .book-info__options .options__item .options__label {
    min-width: 100%;
  }

  .book-description__text {
    margin-bottom: 30px;
  }

  .book-description__text {
    font-size: 1rem;
  }

  .book-description__text p {
    margin-bottom: 20px;
  }

  .book-description__info {
    font-size: 1rem;
  }

  .about__image {
    text-align: center;
    margin-bottom: 60px;
  }

  .about__info p {
    font-size: 1rem;
  }

  .about__title br {
    display: none;
  }

  .demo-pages__slider-thumbs {
    margin: 25px -10px 0 auto;
  }

  .demo-pages__slider-thumbs .demo-pages__slide:last-child {
    margin-right: 20px !important;
  }
}

@media (max-width: 29.99875em) {
  .header__menu .menu__list {
    gap: 12px;
  }

  .header__menu .menu__link {
    font-size: 0.75rem;
  }

  .footer__editor {
    text-align: center;
  }

  .about-book .about-book__info .book-info__desc {
    display: none;
  }

  .quotes-book__list {
    display: none;
  }

  .quotes-book__slider .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.625rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3.75rem;
  }

  .quotes-book__slider .swiper-pagination-bullet {
    background: #FFFFFF;
    border: 3px solid #C6C5BF;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 12px;
    height: 12px;
    display: block;
  }

  .quotes-book__slider .swiper-pagination-bullet-active {
    background-color: #C6C5BF;
    width: 36px;
  }

  .about-more {
    margin-bottom: 40px;
  }

  .about-more__content::before {
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#F6F7F9), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(0deg, #F6F7F9 0%, rgba(255, 255, 255, 0) 100%);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .sticky-cart-mob {
    background: rgba(90, 90, 90, 0.9);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    z-index: 4;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .sticky-cart-mob.show {
    bottom: 0;
  }

  .sticky-cart-mob__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .sticky-cart-mob__body .btn-cart {
    width: 70px;
    height: 70px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #FFFFFF;
    border-radius: 6px;
  }

  .sticky-cart-mob__options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5px;
    margin-right: 5px;
  }

  .sticky-cart-mob__options .options__input:checked + .options__label {
    border-color: #fff !important;
  }

  .sticky-cart-mob__options .options__label {
    border-color: rgba(255, 255, 255, 0.12);
    padding: 3px 10px;
    height: 70px;
    min-width: 150px;
  }

  .sticky-cart-mob__options .options__label::before,
  .sticky-cart-mob__options .options__label::after {
    content: "";
    display: none;
  }

  .sticky-cart-mob__options .options__text .price {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 160%;
    color: #FFFFFF;
  }

  .sticky-cart-mob__options .options__text .text {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 120%;
    color: #FFFFFF;
  }

  .sticky-cart-mob__options .options__text .subtext {
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.36;
  }
}

@media (max-width: 29.99875em) and (max-width: 24.375em) {
  .sticky-cart-mob__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sticky-cart-mob__body .btn-cart {
    width: 100%;
    height: 50px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }

  .sticky-cart-mob__options {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .sticky-cart-mob__options .options__item {
    width: 100%;
  }

  .sticky-cart-mob__options .options__label {
    width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 24.375em) {
  .about-book__link a {
    padding: 12px 5px;
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (min-width: 20em) and (max-width: 73.75em) {
@supports (font-size: clamp( 3rem , 2.8604651163rem  +  0.6976744186vw , 3.375rem )) {
    .title-h2 {
      font-size: clamp( 3rem , 2.8604651163rem  +  0.6976744186vw , 3.375rem );
    }
}

@supports not (font-size: clamp( 3rem , 2.8604651163rem  +  0.6976744186vw , 3.375rem )) {
    .title-h2 {
      font-size: calc(3rem + 0.375 * (100vw - 20rem) / 53.75);
    }
}

@supports (font-size: clamp( 2rem , 1.6279069767rem  +  1.8604651163vw , 3rem )) {
    .about-book .about-book__info .book-info__title {
      font-size: clamp( 2rem , 1.6279069767rem  +  1.8604651163vw , 3rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.6279069767rem  +  1.8604651163vw , 3rem )) {
    .about-book .about-book__info .book-info__title {
      font-size: calc(2rem + 1 * (100vw - 20rem) / 53.75);
    }
}
}

@media (min-width: 29.99875em) and (min-width: 20em) and (max-width: 73.75em) {
@supports (gap: clamp( 1.25rem , -0.3779069767rem  +  8.1395348837vw , 5.625rem )) {
    .quotes-book__list {
      gap: clamp( 1.25rem , -0.3779069767rem  +  8.1395348837vw , 5.625rem );
    }
}

@supports not (gap: clamp( 1.25rem , -0.3779069767rem  +  8.1395348837vw , 5.625rem )) {
    .quotes-book__list {
      gap: calc(1.25rem + 4.375 * (100vw - 20rem) / 53.75);
    }
}
}

@media (min-width: 29.99875em) and (max-width: 20em) {
  .quotes-book__list {
    gap: 1.25rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 29.99875em) {
  .quotes-book__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (any-hover: hover) {
  .form .select__option:hover {
    background: #d9d9d9;
  }

  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.webp .title-h2 span::before{ background: url(../img/icons/Union.webp) 0 0/100% 100% no-repeat; }